@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Oswald:600,700');

body { font-family: 'Lato', sans-serif; color: #343a40 }

h1, h2, h5, .navbar-brand { font-family: 'Oswald', sans-serif }
.navbar-brand{color: #fff !important}


/* Utilities */

.title-text { color: #002047 }
.brand { background: rgba(0,32,71,0.97) !important }
.text-primary, li.nav-item.active a.nav-link{ color:#FEA74E !important }
.title-underline { width: 60px; height: 5px; background-color: #FEA74E }
.far-styled{ font-size: 34px; color: #FEA74E }
.nav-item{font-size: 0.9em}
.bg-brand-light{ background: #EEF2FB }
.brand-secondary{ background-color: #FEA74E }

/* End Utilities */


.hero-section{
    min-height: 600px;
    padding-top: 20px;
    background-image: url(./assets/header_bg.jpg);
    background-size: cover
}

/* Media Queries */

@media (min-width: 768px){
    /* .footer{
        position: fixed;
        bottom: 0;
        width: 100%
    } */
}